<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.spring.muchmore.invest.InvestMapper">
	<!-- 투자 테이블 -->
	<resultMap type="InvestVO" id="InvestResultMap">
		<result property="member_id" column="member_id"/>
		<result property="invest_date" column="invest_date" />
		<result property="invest_sum" column="invest_sum" />
		<result property="invest_payok" column="invest_payok"/>
		<result property="invest_return" column="invest_return" />
		
		<!-- 상품 join 테이블 -->
		<collection property="goodsVO" resultMap="GoodsResultMap"/>
	</resultMap>
	
	<resultMap type = "com.spring.muchmore.goods.GoodsVO" id ="GoodsResultMap">
		<result property = "goods_num" column="goods_num"/>
		<result property = "goods_sum" column="goods_sum"/>
		<result property = "goods_rate" column="goods_rate"/>
		<result property = "goods_object" column="goods_object"/>
		<result property = "goods_status" column="goods_status"/>
		<result property = "borrower_id" column="borrower_id"/>
		<result property = "goods_invest" column="goods_invest"/>
		<result property = "goods_date" column="goods_date"/>
	</resultMap>	
	
	<!-- 2017-07-30 성현 : 개인 투자  내역 가져오기(List타입) -->
	<select id="getInvestById" parameterType="String" resultMap="InvestResultMap">
		SELECT *
		FROM invest invest, goods goods
		WHERE invest.goods_num = goods.goods_num
		and invest.member_id = #{member_id}
	</select>
	
	<!-- 2017-07-31 성현 : 해당 상품에 대한 총 투자금액 -->
	<select id="getTotalInvestSum" parameterType="int" resultType="int">
		SELECT
		nvl(sum(invest_sum), 0)
		FROM invest
		WHERE goods_num = #{goods_num}
	</select>
	
	<!-- 2017-07-31 성현 : 사용자의 투자횟수 구하기 -->
	<select id="getInvestCountById" parameterType="String" resultType="int">
		SELECT nvl(count(*), 0)
		FROM invest
		WHERE
		member_id = #{member_id}
	</select>
	
	<!-- 2017-08-01 성현 : 사용자의 투자횟수 중 투자금 지급이 완료된 횟수 -->
	<select id="getInvestCountByIdComplete" resultType="int" parameterType="String">
		SELECT nvl(count(*), 0)
		FROM invest
		WHERE invest_payok = '지급완료' AND member_id = #{member_id}
	</select>
	
	<!-- 2017-07-31 성현 : 투자테이블에 데이터 추가 -->
	<insert id="insertInvest" parameterType="com.spring.muchmore.invest.InvestVO">
		INSERT INTO
		invest(
		invest_date, 
		invest_sum, 
		member_id, 
		goods_num, 
		invest_return)
		VALUES(
		sysdate,
		#{invest_sum}, 
		#{member_id},
		#{goodsVO.goods_num}, 
		#{invest_return}
		)
	</insert>
	
	<!-- 2017-08-02 혜림 : 하나의 상품에 투자한 회원들 리스트 -->
	<select id = "getInvestListByGoodsNum" parameterType="int" resultMap = "InvestResultMap">
		SELECT *
		FROM invest, goods
		WHERE invest.goods_num = goods.goods_num
			and goods.goods_num = #{goods_num}
	</select>
</mapper>