<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.muchmore.borrower.BorrowerMapper">
	<resultMap type="BorrowerVO" id="BorrowerResultMap">
		<result property="borrower_id" column="borrower_id" />
		<result property="borrower_rate" column="borrower_rate" />
		<result property="borrower_amount" column="borrower_amount" />
		<result property="borrower_repay_date" column = "borrower_repay_date"/>
		<result property="borrower_monthlypay" column="borrower_monthlypay" />
		<result property="borrower_limit" column="borrower_limit" />
		<result property="borrower_credit" column="borrower_credit" />
		<result property="borrower_totalincome" column="borrower_totalincome" />
		<result property="borrower_jobbiz" column="borrower_jobbiz" />
		<result property="borrower_jobname" column="borrower_jobname" />
		<result property="borrower_jobperiod" column="borrower_jobperiod" />
		<result property="borrower_loanperiod" column="borrower_loanperiod" />
		<result property="borrower_startdate" column="borrower_startdate" />
		<result property="borrower_enddate" column="borrower_enddate" />
		<result property="borrower_status" column="borrower_status" />
		<result property="borrower_balance" column="borrower_balance" />
		<result property="borrower_payok" column="borrower_payok" />
		<result property="borrower_registerdate" column="borrower_registerdate" />
		
		<!-- 상품 테이블 -->
		<collection property="goodsVO" resultMap="GoodsResultMap"/>
	</resultMap>
	
	<resultMap type = "GoodsVO" id = "GoodsResultMap">
		<result property = "goods_num" column = "goods_num"/>
		<result property = "goods_sum" column="goods_sum"/>
		<result property="goods_rate" column="goods_rate"/>
		<result property="goods_object" column="goods_object"/>
		<result property="borrower_id" column="borrower_id"/>
		<result property="goods_invest" column = "goods_invest"/>
		<result property="goods_status" column = "goods_status"/>
		<result property="goods_date" column = "goods_date"/>
	</resultMap>
	
	<!-- 2017-07-29 혜림 : 신용등급 구하기 -->
	<select id = "creditCheck" resultType="String" parameterType="BorrowerVO">
		<![CDATA[
		SELECT distinct CREDITINFO_CREDIT  
		FROM creditinfo
		WHERE CREDITINFO_JOBBIZ = #{borrower_jobbiz} 
			and CREDITINFO_TOTALINCOME1 <= #{borrower_totalincome}
			and #{borrower_totalincome} <= CREDITINFO_TOTALINCOME2
		]]> 
	</select>
	
	<!-- 2017-07-30 혜림 : 대출금리 확인하기 -->
	<select id = "checkBorrowRate" resultType = "double" parameterType="BorrowerVO">
		<![CDATA[
		SELECT distinct CREDITINFO_RATE
		FROM creditinfo
		WHERE CREDITINFO_JOBBIZ = #{borrower_jobbiz} 
			and CREDITINFO_TOTALINCOME1 <= #{borrower_totalincome}
			and #{borrower_totalincome} <= CREDITINFO_TOTALINCOME2
			and CREDITINFO_CREDIT = #{borrower_credit}
			and CREDITINFO_LOANPERIOD = #{borrower_loanperiod}
		]]>
	</select>
	
	<!-- 2017-07-30 혜림 : 대출신청하기 borrower table에 데이터 넣기 -->
	<insert id = "insertBorrower" parameterType="BorrowerVO">
		INSERT INTO borrower(
			borrower_id,
			borrower_registerdate,
			borrower_rate,
			borrower_repay_date,
			borrower_amount,
			borrower_monthlypay,
			borrower_limit,
			borrower_credit,
			borrower_totalincome,
			borrower_jobbiz,
			borrower_jobname,
			borrower_jobperiod,
			borrower_loanperiod
			)
		VALUES (
			#{borrower_id},
			sysdate,
			#{borrower_rate},
			#{borrower_repay_date},
			#{borrower_amount},
			#{borrower_monthlypay},
			#{borrower_limit},
			#{borrower_credit},
			#{borrower_totalincome},
			#{borrower_jobbiz},
			#{borrower_jobname},
			#{borrower_jobperiod},
			#{borrower_loanperiod}
		)
	</insert>
	
	<!-- 2017-07-30 혜림 : 대출신청하기 goods table에 데이터 넣기 -->
	<insert id = "insertGoods" parameterType="BorrowerVO">
		INSERT INTO goods(
			goods_num,
			goods_sum,
			goods_rate,
			goods_object,
			borrower_id
			)
		VALUES(
			goods_sequence.nextval,
			#{goodsVO.goods_sum},
			#{goodsVO.goods_rate} ,
			#{goodsVO.goods_object},
			#{borrower_id}
			)
	</insert>
	
	<!-- 2017-07-30 혜림 : mypage_myloan 대출내역에서 해당 회원의 대출 내역 전체 가져오기 -->
	<select id = "getBorrowerList" parameterType="BorrowerVO" resultMap="BorrowerResultMap">
		SELECT * 
		FROM borrower, goods
		WHERE borrower.borrower_id = goods.borrower_id
			and borrower.borrower_registerdate = goods.goods_date
	</select>
	
	<!-- 2017-07-30 혜림 : 대출자 id와 상품 번호로 조회하여 해당 대출자와 상품에 대한 정보 가져오기 -->
	<select id = "getBorrower" parameterType="BorrowerVO" resultMap="BorrowerResultMap">
		SELECT *
		FROM borrower, goods
		WHERE borrower.borrower_id = goods.borrower_id
			and borrower.borrower_registerdate = goods.goods_date
			and borrower.borrower_id = #{borrower_id}
			and goods.goods_num = #{goodsVO.goods_num}
	</select>
	
	<!-- 2017-07-30 혜림 : 대출자가 서류를 업로드 : 파일 업로드와 상태 변경-->
	<update id = "uploadFile" parameterType="BorrowerVO">
		UPDATE borrower
		SET borrower_file = #{borrower_file}, borrower_stored = #{borrower_stored}, borrower_status = #{borrower_status}
		WHERE borrower_id = #{borrower_id}
			and borrower_registerdate = #{borrower_registerdate}
	</update>
</mapper>