<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.muchmore.borrower.BorrowerMapper">
	<resultMap type="BorrowerVO" id="BorrowerResultMap">
		<result property="borrower_id" column="borrower_id" />
		<result property="borrower_rate" column="borrower_rate" />
		<result property="borrower_amount" column="borrower_amount" />
		<result property="borrower_repay_date" column = "borrower_repay_date"/>
		<result property="borrower_monthlypay" column="borrower_monthlypay" />
		<result property="borrower_limit" column="borrower_limit" />
		<result property="borrower_credit" column="borrower_credit" />
		<result property="borrower_totalincome" column="borrower_totalincome" />
		<result property="borrower_jobbiz" column="borrower_jobbiz" />
		<result property="borrower_jobname" column="borrower_jobname" />
		<result property="borrower_jobperiod" column="borrower_jobperiod" />
		<result property="borrower_loanperiod" column="borrower_loanperiod" />
		<result property="borrower_startdate" column="borrower_startdate" />
		<result property="borrower_enddate" column="borrower_enddate" />
		<result property="borrower_status" column="borrower_status" />
		<result property="borrower_balance" column="borrower_balance" />
		<result property="borrower_payok" column="borrower_payok" />
		<result property="borrower_registerdate" column="borrower_registerdate" />
		<result property="borrower_file" column="borrower_file" />
		<result property="borrower_stored" column="borrower_stored" />
		
		<!-- 상품 테이블 -->
		<collection property="goodsVO" resultMap="GoodsResultMap"/>
	</resultMap>
	
	<resultMap type = "GoodsVO" id = "GoodsResultMap">
		<result property = "goods_num" column = "goods_num"/>
		<result property = "goods_sum" column="goods_sum"/>
		<result property="goods_rate" column="goods_rate"/>
		<result property="goods_object" column="goods_object"/>
		<result property="borrower_id" column="borrower_id"/>
		<result property="goods_invest" column = "goods_invest"/>
		<result property="goods_status" column = "goods_status"/>
		<result property="goods_date" column = "goods_date"/>
	</resultMap>
	
	<!-- 혜림 : 신용등급 구하기 -->
	<select id = "creditCheck" resultType="String" parameterType="BorrowerVO">
		<![CDATA[
		SELECT distinct CREDITINFO_CREDIT  
		FROM creditinfo
		WHERE CREDITINFO_JOBBIZ = #{borrower_jobbiz} 
			and CREDITINFO_TOTALINCOME1 <= #{borrower_totalincome}
			and #{borrower_totalincome} <= CREDITINFO_TOTALINCOME2
		]]> 
	</select>
	
	<!-- 혜림 : 대출금리 확인하기 -->
	<select id = "checkBorrowRate" resultType = "double" parameterType="BorrowerVO">
		<![CDATA[
		SELECT distinct CREDITINFO_RATE
		FROM creditinfo
		WHERE CREDITINFO_JOBBIZ = #{borrower_jobbiz} 
			and CREDITINFO_TOTALINCOME1 <= #{borrower_totalincome}
			and #{borrower_totalincome} <= CREDITINFO_TOTALINCOME2
			and CREDITINFO_CREDIT = #{borrower_credit}
			and CREDITINFO_LOANPERIOD = #{borrower_loanperiod}
		]]>
	</select>
	
	<!-- 혜림 : 대출신청하기 borrower table에 데이터 넣기 -->
	<insert id = "insertBorrower" parameterType="BorrowerVO">
		INSERT INTO borrower(
			borrower_id,
			borrower_registerdate,
			borrower_rate,
			borrower_repay_date,
			borrower_amount,
			borrower_monthlypay,
			borrower_limit,
			borrower_credit,
			borrower_totalincome,
			borrower_jobbiz,
			borrower_jobname,
			borrower_jobperiod,
			borrower_loanperiod
			)
		VALUES (
			#{borrower_id},
			sysdate,
			#{borrower_rate},
			#{borrower_repay_date},
			#{borrower_amount},
			#{borrower_monthlypay},
			#{borrower_limit},
			#{borrower_credit},
			#{borrower_totalincome},
			#{borrower_jobbiz},
			#{borrower_jobname},
			#{borrower_jobperiod},
			#{borrower_loanperiod}
		)
	</insert>
	
	<!-- 혜림 : 대출신청하기 goods table에 데이터 넣기 -->
	<insert id = "insertGoods" parameterType="BorrowerVO">
		INSERT INTO goods(
			goods_num,
			goods_sum,
			goods_rate,
			goods_object,
			borrower_id
			)
		VALUES(
			goods_sequence.nextval,
			#{goodsVO.goods_sum},
			#{goodsVO.goods_rate} ,
			#{goodsVO.goods_object},
			#{borrower_id}
			)
	</insert>
	
	<!-- 혜림 : mypage_myloan 대출내역에서 모든회원의 대출 내역 가져오기-->
	<select id = "getBorrowerList" parameterType="BorrowerVO" resultMap="BorrowerResultMap">
		SELECT * 
		FROM borrower, goods
		WHERE borrower.borrower_id = goods.borrower_id
			and borrower.borrower_registerdate = goods.goods_date
			and borrower.borrower_status != '서류미제출'
	</select>
	
	<!-- 혜림 : 대출자 id와 상품 번호로 조회하여 해당 대출자와 상품에 대한 정보 가져오기 -->
	<select id = "getBorrower" parameterType="BorrowerVO" resultMap="BorrowerResultMap">
		SELECT *
		FROM borrower, goods
		WHERE borrower.borrower_id = goods.borrower_id
			and borrower.borrower_registerdate = goods.goods_date
			and borrower.borrower_id = #{borrower_id}
			and goods.goods_num = #{goodsVO.goods_num}
	</select>
	
	<!-- 혜림 : 대출자가 서류를 업로드 : 파일 업로드와 상태 변경-->
	<update id = "uploadFile" parameterType="BorrowerVO">
		UPDATE borrower
		SET borrower_file = #{borrower_file}, borrower_stored = #{borrower_stored}, borrower_status = #{borrower_status}
		WHERE borrower_id = #{borrower_id}
			and borrower_registerdate = #{borrower_registerdate}
	</update>
	 
	<!-- 혜림 : mypage_myloan 대출내역에서 해당 회원의 대출 내역 전체 가져오기 -->
	<select id = "getBorrowerListById" parameterType="BorrowerVO" resultMap="BorrowerResultMap">
		SELECT * 
		FROM borrower, goods
		WHERE borrower.borrower_id = goods.borrower_id
			and borrower.borrower_registerdate = goods.goods_date
			and borrower.borrower_id = #{borrower_id}
	</select>
	
	<!-- 성현 : 사용자의 대출횟수 가져오기 -->
	<select id="getBorrowerCountById" parameterType="String" resultType="int">
		SELECT nvl(count(*), 0)
		FROM borrower
		WHERE borrower_id = #{borrower_id}
	</select>
	
	<!-- 다예 : 대출 상환이 될 때마다 잔액 변경(borrower_balance 변경) -->
	<update id="updateBorrowerBalance" parameterType="BorrowerVO">
		UPDATE borrower
		SET borrower_balance = borrower_balance - (SELECT moneyinout_money 
													FROM (SELECT rownum rnum, moneyinout_date, moneyinout_holder_id,
																moneyinout_other_id, moneyinout_money, moneyinout_state
														  FROM moneyinout
														  WHERE moneyinout_holder_id = 'muchmore' AND moneyinout_other_id = #{borrower_id}
														  ORDER BY moneyinout_date DESC)
													WHERE rnum = 1)
		WHERE borrower_id = #{borrower_id} AND borrower_registerdate = #{borrower_registerdate}
	</update>
	
	<!-- 다예 : 대출금 상환시, borrower_status 변경 -->
	<update id="updateBorrowerStatus" parameterType="String">
		UPDATE borrower
		SET borrower_status = DECODE(borrower_balance, 0, '상환완료', '상환중')
		WHERE borrower_id = #{borrower_id}
	</update>
	
	<!-- 다예 : 대출 상환시, 월상환금액과 입력된 월납입금액 확인 -->
	<select id="getMonthlyDeposit" parameterType="BorrowerVO" resultType="int">
		SELECT borrower.borrower_monthlypay
		FROM borrower, goods
		WHERE borrower.borrower_id = #{borrower_id}
			and goods.borrower_id = borrower.borrower_id 
			AND borrower.borrower_status = '상환중'
			AND goods.goods_num = #{goodsVO.goods_num}
	</select>
	
	<!-- 다예 : 대출 상환시, 월납입금액(borrower_monthlypay)만큼 혹은 그 이상 입금해야하는데 상환해야할 돈(잔고(borrower_balance))이 월납입금액보다 작을 시 입금가능 -->
	<select id="lessMonthlypay" parameterType="BorrowerVO" resultType="int">
		SELECT borrower.borrower_balance
		FROM borrower, goods
		WHERE borrower.borrower_id = #{borrower_id} 
			AND borrower.borrower_status = '상환중'
			AND goods.goods_num = #{goodsVO.goods_num}
	</select>
	
	<!-- 혜림 : 대출자의 상환완료 되지 않은 대출횟수 구하기 -->
	<select id = "getBorrowerCountByIdNotComplete" parameterType="String" resultType="int">
		SELECT nvl(count(*), 0)
		FROM borrower
		WHERE borrower_id = #{borrower_id}
			and borrower_status != '상환완료'
	</select>
	
	<!-- 혜림 : 대출금을 지급 받으면 대출자 상태 바꾸기 -->
	<update id = "updateBorrowerPayBack" parameterType="BorrowerVO">
		UPDATE borrower
		SET borrower_payok = #{borrower_payok}, 
			borrower_status = #{borrower_status},
			borrower_startdate = sysdate,
			borrower_enddate = add_months(sysdate, #{borrower_loanperiod})
		WHERE borrower_id = #{borrower_id}
			and borrower_registerdate = #{borrower_registerdate}
	</update>

	<!-- 성현 : 사용자의 대출 내역 중 borrower_status가 '상환완료'인 횟수 -->
 	<select id="getBorrowerCountByIdComplete" parameterType="String" resultType="int">
 		SELECT nvl(count(*), 0)
 		FROM borrower
 		WHERE
 			borrower_id = #{borrower_id}
 			AND borrower_status = '상환완료'
 	</select>
	
	<!-- 혜림 : 대출 상태 변경 -->
	<update id = "updateBorrowerStatusByAdmin" parameterType="BorrowerVO">
		UPDATE borrower
		SET borrower_status = #{borrower_status}
		WHERE borrower_id = #{borrower_id}
			and borrower_registerdate = #{borrower_registerdate}
	</update>

</mapper>