<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">	
<mapper namespace="com.spring.muchmore.member.MemberMapper">

	<!-- 2017-07-29 혜림 : member 테이블 쿼리 결과반환 -->
	<resultMap type="MemberVO" id="MemberResultMap">
		<result property="member_id" column="member_id" />
		<result property="member_pw1" column="member_pw1" />
		<result property="member_pw2" column="member_pw2" />
		<result property="member_name" column="member_name" />
		<result property="member_phone" column="member_phone" />
		<result property="member_jumin1" column="member_jumin1" />
		<result property="member_jumin2" column="member_jumin2" />
		<result property="member_email" column="member_email" />
		<result property="member_addr1" column="member_zipcode" />
		<result property="member_addr1" column="member_addr1" />
		<result property="member_addr2" column="member_addr2" />
		<result property="member_agreement" column="member_agreement" />
		<result property="member_age" column = "member_age"/>
		<result property="member_gender" column = "member_gender"/>
		
		<!-- 대출장 정보  -->
		<collection property="borrower" resultMap="BorrowerResultMap"/>
		<!-- 계좌 정보  -->
		<collection property="account" resultMap="AccountResultMap"/>
	</resultMap>
	
	<resultMap type="BorrowerVO" id="BorrowerResultMap">
		<result property="borrower_id" column="borrower_id" />
		<result property="borrower_rate" column="borrower_rate" />
		<result property="borrower_amount" column="borrower_amount" />
		<result property="borrower_repay_date" column = "borrower_repay_date"/>
		<result property="borrower_monthlypay" column="borrower_monthlypay" />
		<result property="borrower_limit" column="borrower_limit" />
		<result property="borrower_credit" column="borrower_credit" />
		<result property="borrower_totalincome" column="borrower_totalincome" />
		<result property="borrower_jobbiz" column="borrower_jobbiz" />
		<result property="borrower_jobname" column="borrower_jobname" />
		<result property="borrower_jobperiod" column="borrower_jobperiod" />
		<result property="borrower_loanperiod" column="borrower_loanperiod" />
		<result property="borrower_startdate" column="borrower_startdate" />
		<result property="borrower_enddate" column="borrower_enddate" />
		<result property="borrower_status" column="borrower_status" />
		<result property="borrower_balance" column="borrower_balance" />
		<result property="borrower_payok" column="borrower_payok" />
		<result property="borrower_registerdate" column="borrower_registerdate" />		
		<result property="borrower_file" column="borrower_file" />		
		<result property="borrower_stored" column="borrower_stored" />		
	</resultMap>
	
	<resultMap type="AccountVO" id="AccountResultMap">
		<result property="member_id" column="member_id"/>
		<result property="account_virtual" column="account_virtual"/>
		<result property="account_real" column="account_real"/>
		<result property="account_balance" column="account_balance"/>
	</resultMap>
	
	<!-- 2017-07-29 성현 : 회원 가입 -->
	<insert id="insertMember" parameterType="com.spring.muchmore.member.MemberVO">
	INSERT INTO member(member_id,
	member_pw1,
	member_pw2,
	member_name,
	member_phone,
	member_jumin1,
	member_jumin2,
	member_email,
	member_zipcode,
	member_addr1,
	member_addr2,
	member_agreement)
	VALUES(#{member_id},
	#{member_pw1},
	#{member_pw2},
	#{member_name},
	#{member_phone},
	#{member_jumin1},
	#{member_jumin2},
	#{member_email},
	#{member_zipcode},
	#{member_addr1},
	#{member_addr2},
	#{member_agreement})
	</insert>
	
	<!-- 2017-07-29 성현 : 회원 가입시 가상계좌 생성 -->
	<insert id="createVirtualAccount" parameterType="hashmap">
		INSERT INTO
		account(member_id, account_virtual)
		VALUES(#{member_id}, #{account_virtual})
	</insert>
	
	<!-- 2017-07-29 성현 : 회원가입 아이디 중복체크 시 회원 중복 체크 -->
	<select id="checkId" resultType="int" parameterType="String">
		SELECT
		nvl(count(*),0)
		FROM member
		WHERE member_id = #{member_id}
	</select>
	 
	<!-- 2017-07-29 혜림 : 회원 정보 전체 가져오기. -->
	<select id="getMember" resultType="MemberVO" parameterType = "String">
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 2017-07-29 혜림 : 아이디 찾기 : 이름과 이메일을 입력하면 아이디 return -->
	<select id = "findId" resultType="String" parameterType="MemberVO">
		SELECT member_id
		FROM member
		WHERE member_name = #{member_name} and member_email = #{member_email}
	</select>
	
	<!-- 2017-07-29 혜림 : 비밀번호 찾기 : 아이디, 이름, 이메일을 입력하면 비밀번호 return -->
	<select id = "findPw" resultType = "String" parameterType="MemberVO">
		SELECT member_pw1
		FROM member
		WHERE member_id = #{member_id} and member_name = #{member_name} and member_email = #{member_email}
	</select>
	
	<!-- 2017-07-29 성현 : 회원정보 수정 -->
	<update id="updateMember" parameterType="MemberVO">
	UPDATE member
	SET
	member_pw1=#{member_pw1}, member_pw2=#{member_pw2}, 
	member_zipcode=#{member_zipcode}, member_addr1=#{member_addr1}, member_addr2=#{member_addr2},
	member_email=#{member_email}
	WHERE member_id=#{member_id}
	</update>
	
	<!-- 2017-07-30 혜림 : 회원정보와 계좌정보 가져오기 -->
	<select id = "getMemberAccountById" parameterType="String" resultMap="MemberResultMap">
		SELECT *
		FROM member, account
		WHERE member.member_id = account.member_id
			and member.member_id = #{member_id}
	</select>
	
</mapper>