<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.spring.muchmore.board.BoardMapper">
	<resultMap type="BoardVO" id="BoardResultMap">
		<result property="board_num" column="board_num" />
		<result property="member_id" column="member_id" />
		<result property="board_title" column="board_title" />
		<result property="board_password" column="board_password" />
		<result property="board_date" column="board_date" />
		<result property="board_readcount" column="board_readcount" />
		<result property="board_content" column="board_content" />
		<result property="board_ref" column="board_ref" />
		<result property="board_lev" column="board_lev" />
		<result property="board_seq" column="board_seq" />
		<result property="board_pw_check" column="board_pw_check" />
	</resultMap>
	
	<!-- 2017-07-30 다예 : Board테이블에 있는 데이터 리스트 개수 출력 -->
	<select id="getListCount" resultType="int">
		SELECT count(*)
		FROM board
	</select>
	
	<!-- 2017-07-30 다예 : Board테이블에 있는 데이터 리스트 출력 -->
	<select id="getBoardList" resultMap="BoardResultMap" parameterType="hashmap">
		SELECT *
		FROM (SELECT rownum rnum, board_num, member_id, board_title, board_password,
					board_date, board_readcount, board_content, board_ref, board_lev, board_seq, board_pw_check
			  FROM (SELECT *
			  		FROM board
			  		ORDER BY board_ref DESC, board_seq ASC))
		WHERE rnum <![CDATA[ >= ]]> #{startrow, javaType=int} AND rnum <![CDATA[ <= ]]> #{endrow, javaType=int}
	</select>
	
	
	<!-- 2017-07-30 다예 : 게시글 insert시 새로운 board_num계산 -->
	<select id="getMaxBoardnum" resultType="int">
		SELECT max(board_num)
		FROM board
	</select>
	
	<!-- 2017-07-30 다예 : 게시글 쓰기 -->
	<insert id="boardInsert" parameterType="com.spring.muchmore.board.BoardVO">
		INSERT INTO board(board_num, member_id, board_title, board_password, board_date, board_readcount, board_content,
							board_ref, board_lev, board_seq, board_pw_check)
		VALUES (
				#{board_num, javaType=int},
				#{member_id, javaType=String},
				#{board_title, javaType=String},
				#{board_password, javaType=String},
				sysdate,
				#{board_readcount, javaType=int},
				#{board_content, javaType=String},
				#{board_num},
				#{board_lev, javaType=int},
				#{board_seq, javaType=int},
				#{board_pw_check, javaType=int})
	</insert>
	
	<!-- 2017-07-30 다예 : 게시글 답변 쓰기 -->
	<insert id="boardReply" parameterType="com.spring.muchmore.board.BoardVO">
		INSERT INTO board(board_num, member_id, board_title, board_password, board_date, board_readcount, board_content,
							board_ref, board_lev, board_seq, board_pw_check)
		VALUES (
				#{board_num},
				#{member_id},
				#{board_title},
				#{board_password},
				sysdate,
				#{board_readcount},
				#{board_content},
				#{board_ref},
				#{board_lev},
				#{board_seq},
				#{board_pw_check})
	</insert>
	
	<!-- 2017-07-30 다예 : 넘겨받은 board_num을 찾아 해당 행 삭제  -->
	<delete id="boardDelete">
		DELETE FROM board
		WHERE board_num=#{board_num}
	</delete>
	
	<!-- 2017-07-30 다예 : 넘겨받은 board_num을 찾아 해당 행 출력 -->
	<select id="getDetail" resultMap="BoardResultMap" parameterType="com.spring.muchmore.board.BoardVO">
		SELECT *
		FROM board
		WHERE board_num=#{board_num}
	</select>
	
	<!-- 2017-07-30 다예 : 게시글 수정 -->
	<update id="boardModify" parameterType="com.spring.muchmore.board.BoardVO">
		UPDATE board
		SET board_title=#{board_title}, board_content=#{board_content}, board_pw_check=#{board_pw_check}
		WHERE board_num=#{board_num}
	</update>
	
	<!-- 2017-07-30 다예 : 조회수 증가 -->
	<update id="setReadCountUpdate" parameterType="com.spring.muchmore.board.BoardVO">
		UPDATE board
		SET board_readcount=#{board_readcount}+1
		WHERE board_num=#{board_num}
	</update>
	
	<!-- 2017-07-30 다예 : 답변순위처리 계산 -->
	<update id="boardReplyUpdate" parameterType="com.spring.muchmore.board.BoardVO">
		UPDATE board
		SET board_seq=#{board_seq}+1
		WHERE board_ref=#{board_ref} AND board_seq > #{board_seq}
	</update>
  </Mapper>