<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.muchmore.account.AccountMapper">
 	<resultMap type="AccountVO" id="AccountResultMap">
		<result property="member_id" column="member_id"/>
		<result property="account_virtual" column="account_virtual"/>
		<result property="account_real" column="account_real"/>
		<result property="account_balance" column="account_balance"/>
	</resultMap>
	
	<!-- 혜림 : 가상계좌에 입출금하기 -->
	<update id = "updateAccount" parameterType="AccountVO">
		UPDATE account
		SET account_case = #{account_case}, account_balance = #{account_balance}
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 혜림 : 실계좌 등록 -->
	<update id = "updateAccountRegister" parameterType = "AccountVO">
		UPDATE account
		SET account_case = 7, account_real = #{account_real}
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 다예 : 가상계좌 잔액 출력 -->
	<select id = "getAccountBalance" parameterType = "String" resultType = "int">
		SELECT account_balance
		FROM account
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 혜림 : 관리자 계좌 입출금 -->
	<update id = "updateAccountAdmin" parameterType="AccountVO">
		UPDATE account
		SET account_case = #{account_case}, account_balance = #{account_balance}
		WHERE member_id = 'muchmore'
	</update>
</mapper>